
*.bin

*.lock

.gradle/buildOutputCleanup/cache.properties

.idea/gradle.xml

.idea/libraries/com_android_support_animated_vector_drawable_25_4_0.xml

.idea/libraries/com_android_support_appcompat_v7_25_4_0.xml

.idea/libraries/com_android_support_cardview_v7_25_4_0.xml

.idea/libraries/com_android_support_design_25_4_0.xml

.idea/libraries/com_android_support_recyclerview_v7_25_4_0.xml

.idea/libraries/com_android_support_support_annotations_25_4_0_jar.xml

.idea/libraries/com_android_support_support_compat_25_4_0.xml

.idea/libraries/com_android_support_support_core_ui_25_4_0.xml

.idea/libraries/com_android_support_support_core_utils_25_4_0.xml

.idea/libraries/com_android_support_support_fragment_25_4_0.xml

.idea/libraries/com_android_support_support_media_compat_25_4_0.xml

.idea/libraries/com_android_support_support_v4_25_4_0.xml

.idea/libraries/com_android_support_support_vector_drawable_25_4_0.xml

.idea/libraries/com_android_support_transition_25_4_0.xml

.idea/libraries/com_jakewharton_butterknife_8_8_1.xml

.idea/libraries/com_jakewharton_butterknife_annotations_8_8_1_jar.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml

.idea/workspace.xml
