
*.bin

*.lock

.gradle/buildOutputCleanup/cache.properties

.idea/gradle.xml

.idea/libraries/com_android_support_animated_vector_drawable_25_4_0.xml

.idea/libraries/com_android_support_appcompat_v7_25_4_0.xml

.idea/libraries/com_android_support_cardview_v7_25_4_0.xml

.idea/libraries/com_android_support_design_25_4_0.xml

.idea/libraries/com_android_support_recyclerview_v7_25_4_0.xml

.idea/libraries/com_android_support_support_annotations_25_4_0_jar.xml

.idea/libraries/com_android_support_support_compat_25_4_0.xml

.idea/libraries/com_android_support_support_core_ui_25_4_0.xml

.idea/libraries/com_android_support_support_core_utils_25_4_0.xml

.idea/libraries/com_android_support_support_fragment_25_4_0.xml

.idea/libraries/com_android_support_support_media_compat_25_4_0.xml

.idea/libraries/com_android_support_support_v4_25_4_0.xml

.idea/libraries/com_android_support_support_vector_drawable_25_4_0.xml

.idea/libraries/com_android_support_transition_25_4_0.xml

.idea/libraries/com_jakewharton_butterknife_8_8_1.xml

.idea/libraries/com_jakewharton_butterknife_annotations_8_8_1_jar.xml

.idea/misc.xml

.idea/modules.xml

.idea/runConfigurations.xml

.idea/vcs.xml

.idea/workspace.xml

*.rawproto

build/android-profile/profile-2017-12-06-17-05-46-302.json

build/android-profile/profile-2017-12-06-18-10-15-321.json

build/android-profile/profile-2017-12-06-18-52-14-977.json

build/android-profile/profile-2017-12-06-18-55-03-725.json

build/android-profile/profile-2017-12-06-18-58-25-520.json

build/android-profile/profile-2017-12-06-19-03-31-008.json

build/android-profile/profile-2017-12-06-19-01-42-861.json

build/android-profile/profile-2017-12-06-19-00-31-482.json

build/android-profile/profile-2017-12-06-19-04-28-968.json

build/android-profile/profile-2017-12-06-19-06-56-804.json

build/android-profile/profile-2017-12-06-19-22-45-091.json

build/android-profile/profile-2017-12-06-19-25-30-202.json

build/android-profile/profile-2017-12-06-19-29-49-783.json

build/android-profile/profile-2017-12-06-19-31-27-962.json

build/android-profile/profile-2017-12-06-19-57-09-408.json

build/android-profile/profile-2017-12-06-20-01-21-718.json

build/android-profile/profile-2017-12-06-20-16-24-795.json

build/android-profile/profile-2017-12-06-20-17-09-883.json
